<div>

    <mat-card-subtitle>
        Listing all Suppliers
    </mat-card-subtitle>

    <mat-card-content *ngIf="supplierObservable | async; else loading">

        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div *ngFor="let supplier of suppliers"
                 >
                <a [routerLink]="['/suppliers/show/',supplier.id]"
                   style="text-decoration: none;">
                    <mat-card class="blueOver">
                        <mat-card-content>

                            <strong>{{supplier.contactName}}</strong> <br />
                            {{supplier.companyName}}

                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>

    </mat-card-content>

    <ng-template #loading>
        <app-loading-bar [visible]="true"></app-loading-bar>
    </ng-template>

    <mat-card-actions>
        <button mat-raised-button
        color="primary"
                [routerLink]="['/suppliers/new']">
            New 
        </button>
    </mat-card-actions>


</div>