<div>

    <mat-card>
        <mat-card-title>Edit Supplier</mat-card-title>
        <br />
        <mat-card-content *ngIf="supplier | async; else loading">

            <form [formGroup]="supplierForm" (submit)="onSubmit()" novalidate>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10">

                    <!-- Company Name -->
                    <mat-form-field fxFlex="30%">
                        <input matInput placeholder="Company Name" formControlName="companyName" />
                        <mat-error *ngIf="supplierForm.get('companyName')?.hasError('required')">
                            Company Name is required
                        </mat-error>
                        <mat-error *ngIf="supplierForm.get('companyName')?.hasError('minlength')">
                            Company Name is too short
                        </mat-error>
                    </mat-form-field>


                </div>
            </form>

        </mat-card-content>

        <ng-template #loading>
            <app-loading-bar [visible]="true"></app-loading-bar>
        </ng-template>


    </mat-card>


</div>